<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map-canvas { 
    width: 630px;
    height: 500px;
    margin-top: 60px;
    float: left;
    position: relative;
    margin-left: 20px;
  }
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvxrtNIzHIO-kUxuK82OFKETpX9gBqkTg&sensor=false">
</script>
<script type="text/javascript">
  
var geocoder;
var map;
function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var mapOptions = {
    zoom: 8,
    center: latlng
  }
  map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
}

function codeAddress() {
  var address = document.getElementById("adress").innerHTML;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert("Geocode was not successful for the following reason: " + status);
    }
  });
}
window.onload = function() {
    initialize();
    codeAddress();
}



</script>

<div class="compdetail grid_4">
<div class="whiteback">
<h1>
  <%= @finance.name.upcase %>
</h1>
</div>
<div class="therest">
<p>
  <strong>Sector:</strong>
  <%= @finance.sector %>
</p>

<p>
  <strong>Price:</strong>
  <%= @finance.price %>
</p>

<p>
  <strong>Dividend yield:</strong>
  <%= @finance.dividend_yield %>
</p>

<p>
  <strong>Price earnings:</strong>
  <%= @finance.price_earnings %>
</p>

<p>
  <strong>Earnings share:</strong>
  <%= @finance.earnings_share %>
</p>

<p>
  <strong>Book value:</strong>
  <%= @finance.book_value %>
</p>

<p>
  <strong>Year week low:</strong>
  <%= @finance.year_week_low %>
</p>

<p>
  <strong>Year week high:</strong>
  <%= @finance.year_week_high %>
</p>

<p>
  <strong>Market cap:</strong>
  <%= @finance.market_cap %>
</p>

<p>
  <strong>Ebitda:</strong>
  <%= @finance.ebitda %>
</p>



<div id="adress">
  <strong>Location:</strong>
  <%= @finance.location %>
</div>
<br/>
<div style="width: 100px;">
<form action="/stats/<%= @finance.id%>">
<input class="button-style" type="submit" value="Stats">
</form></div>
<div style="width: 100px;">
<form action="/">
<input class="button-style" type="submit" value="Back">
</form></div>
</div>
</div>

<div id="map-canvas"/></div>


