
<% provide(:title, @user.name) %>
<div class="grid_6 showuser">
<div class="whiteback">
<h1>
	<%= gravatar_for @user %>
	<h1> Welcome <%= @user.name.upcase %>!</h1>
</h1>
</div>

<div class="therest">
      <% if signed_in? %>
      	<br/>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% else %>
         <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
</div>
</div>