<h1>Listing finances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sector</th>
      <th>Price</th>
      <th>Dividend yield</th>
      <th>Price earnings</th>
      <th>Earnings share</th>
      <th>Book value</th>
      <th>Year week low</th>
      <th>Year week high</th>
      <th>Market cap</th>
      <th>Ebitda</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= finance.name %></td>
        <td><%= finance.sector %></td>
        <td><%= finance.price %></td>
        <td><%= finance.dividend_yield %></td>
        <td><%= finance.price_earnings %></td>
        <td><%= finance.earnings_share %></td>
        <td><%= finance.book_value %></td>
        <td><%= finance.year_week_low %></td>
        <td><%= finance.year_week_high %></td>
        <td><%= finance.market_cap %></td>
        <td><%= finance.ebitda %></td>
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance', new_finance_path %>

