<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 50%;
        width: 50%;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvxrtNIzHIO-kUxuK82OFKETpX9gBqkTg&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @finance.name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @finance.sector %>
</p>

<p>
  <strong>Price:</strong>
  <%= @finance.price %>
</p>

<p>
  <strong>Dividend yield:</strong>
  <%= @finance.dividend_yield %>
</p>

<p>
  <strong>Price earnings:</strong>
  <%= @finance.price_earnings %>
</p>

<p>
  <strong>Earnings share:</strong>
  <%= @finance.earnings_share %>
</p>

<p>
  <strong>Book value:</strong>
  <%= @finance.book_value %>
</p>

<p>
  <strong>Year week low:</strong>
  <%= @finance.year_week_low %>
</p>

<p>
  <strong>Year week high:</strong>
  <%= @finance.year_week_high %>
</p>

<p>
  <strong>Market cap:</strong>
  <%= @finance.market_cap %>
</p>

<p>
  <strong>Ebitda:</strong>
  <%= @finance.ebitda %>
</p>

<div id="map-canvas"/>

</body>
</html>

<%= link_to 'Back', finances_path %>
