<!DOCTYPE html>
<html>
<head>
  <title>The Finance App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "grid" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 <script>
  function loadsearch()
  {
  var xmlhttp;
  if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
    }
  else
    {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
  xmlhttp.onreadystatechange=function()
    {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
      document.getElementById('searchresult').style.display = "block";
      document.getElementById("searchresult").innerHTML=xmlhttp.responseText;
      }
    if (str == "")
    {
      document.getElementById('searchresult').style.display = "none";
    }
    }
    
  var str = document.getElementById("searchbox").value;
  xmlhttp.open("GET","../search.html?query="+str,true);
  xmlhttp.send();

  }
</script>
</head>
<body class="container_12">

	<div class="navbar grid_12">
		<div class="navitem"><a href="/">Home</a></div>
		<div class="navitem"><a href="/login">Login</a></div>
    <div class="navitem"><a href="/signup">Register!</a></div>
		<div class="searchbox"><div id="hint"></div><input id="searchbox" type="text" name="query" onkeyup="loadsearch()" placeholder="search" autocapitalize="off" autocorrect="off"></div>
		<div id="searchresult" style="display: none;"></div>
	</div><br/>
<div class="pathbar">
	<%if @finance != nil %>
    <div class="pathitem">></div>
		<div class='pathitem'><a href="/finances/<%= @finance.id %>"><%= @finance.name %></a></div>
	<%end%>
	<%if @stats == true %>
		<div class="pathitem">></div>
		<div class='pathitem'>Stats</div>
	<%end%>
</div>
<div class="grid_12">
  <%= yield %>
 </div> 


  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>



</body>
</html>
