<!DOCTYPE html>
<html>
<head>
  <title>FinanceApp</title>
  <%= stylesheet_link_tag "grid" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container_12">
	<div class="navbar">
		<div class="grid_1 navitem"><%= link_to "Home", finances_path %></div>
		<div class="grid_1 navitem"><a href="/login">Login</a></div>
		<div class="grid_1 navitem"><a href="/signup">Sign Up</a></div>
	</div>

<%= yield %>

</body>
</html>
